<!doctype html>
<html lang="en">
  <head>
    <title>Home Page | Bankify</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="header">
        <div class="navbar">
            <div class="navbar_left">
                <div class="header">
                    <span class="display-4 headerTitle">Bankify</span>
                </div>
            </div>
            <div class="navbar_right">
                <div class="navbar_item">
                    <a href="http://localhost:3000/home">Home</a>
                </div>
                <div class="navbar_item">
                    <a href="http://localhost:3000/explore">Explore</a>
                </div>
                <div class="navbar_item">
                    <a href="http://localhost:3000/myaccount">My Profile</a>
                </div>
                <div class="navbar_item">
                    Balance: <span class="text-green balance-color"><span id="balance"></span> ₼</span>
                </div>
                <div class="logoutButton">
                    <button class="mbtn" id="logoutButton">Log out</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main_center">
    
