

    <div class="app__home">
        <div class="app__home_main">
            <div class="display-4">Welcome to the Bankify</div>
            <div class="text">
                Bankify is a convenient service for obtaining Loan lending, applying for Loans, and increasing your savings by lending them to other people at interest
            </div>
            <div class="buttons">
                <div><a href="http://localhost:3000/myaccount"><button class="mbtn">Start trading now!</button></a></div>
                <div><a href="http://localhost:3000/explore"><button class="mbtn">Explore!</button></a></div>
            </div>
        </div>
    </div>

